<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu deroulant JSON</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">



</head>

<body>
    <div class="container">
        <h1>2 liste deroulant voiture/marque</h1>
        <div class="row">
            <div class="col-sm-4">




                <div class="container d-flex flex-column align-items-center justify-content-center">
                    <label>Choisir votre marque</label>
                    <select class="form-control" id="marque">

                        <%for(d in data){%>

                        <option value="<%=data[d].id%>"><%=data[d].nom%> </option>

                        <%}%>

          </select>

        </div>

        <!-- 2 select avec un id=model -->
        
    
        <div class="container d-flex flex-column align-items-center justify-content-center">
            <label>Choisir votre modèle</label>
            <select class="form-control" id="model">

                <option></option>

           
  
            </select>


            <!-- Card -->

            <div class="card" style="width: 18rem;"id="cardinfo">
                <div id="voiture-nom"class="card-header">
                   
                  </div>
                <ul class="list-group list-group-flush">
                  <li id="voiture-finition" class="list-group-item"></li>
                  <li id="voiture-prix" class="list-group-item"></li>
                  <li id="voiture-energie" class="list-group-item"></li>
                  <li id="voiture-boiteDeVitesse" class="list-group-item"></li>
                  <li id="voiture-puissance" class="list-group-item"></li>


                </ul>
              </div>
  
          </div>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <script>
              
                $(document).ready(function(){
                    //fonction onchange
                $("#marque").on("change",function(){
                    //appel a la fonction model
                   model($(this).val())
                    
                });
                function model(idmodel) {
                    $.get('/'+idmodel,function(result) {
                        console.log(result);
                        //creaction d'un variable contenant mes option du select
                        var listemodel="";
                        //ajout option
                        for(d in result.modeles){
                            //var listemodel=<option data-marque="idmarque" value="idmodel">nom du modèle</option>
                            listemodel+='<option data-marque="'+result.id+'" value="'+result.modeles[d].id+'">'+result.modeles[d].nom+'</option>'

                        }
                        //recup id du select et retranscit la donnée en html se qui affiche dans les option
                        $('#model').html(listemodel);

                        
                    })

                }

                $("#model").on("change",function(){
                    //appel la fonction info a chaque fois qu'un option est selectionner cela affiche la marque qui lui correspond
                    info($(this).find(":selected").data("marque"),$(this).val())

                    //(parametre)
                    console.log($(this).find(":selected").data("marque"));
                });
        
                //Recup 2 parametre id du indexController.info
                function info(idmarque,idmodel) {
                    //route get /model/:idmarque/:idmodel
                    $.get('/model/'+idmarque+'/'+idmodel,function(card){
                       console.log(card);
                       //retrancrit les donnée sous forme html affiche dans la front
                      $('#voiture-nom').html('<h6>'+'Modèle'+'</h6>'+card.nom)
                      $('#voiture-finition').html('<h6>'+'Finition'+'</h6>'+card.finition)
                      $('#voiture-prix').html('<h6>'+'Prix'+'</h6>'+card.prix+'€')
                      $('#voiture-energie').html('<h6>'+'Energie'+'</h6>'+card.energie)
                      $('#voiture-boiteDeVitesse').html('<h6>'+'Boite de vitesse'+'</h6>'+card.boiteDeVitesse)
                      $('#voiture-puissance').html('<h6>'+'Puissance'+'</h6>'+card.puissance+'km/h')

                   })
                   $('#cardinfo').html(listemodel);

                }
                
                    
               
                });
            </script>


   


     

      </div>
  </div> 
</div>
  
    
</body>

</html>