<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu deroulant JSON</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- API -->
        <script type="text/javascript" src="http://www.carqueryapi.com/js/jquery.min.js"></script>
        <script type="text/javascript" src="http://www.carqueryapi.com/js/carquery.0.3.4.js"></script>

</head>

<body>
    <div class="container">
        <h1>2 liste deroulant voiture/marque avec API carquery</h1>
        <div class="row">
            <div class="col-sm-4">




                <div class="container d-flex flex-column align-items-center justify-content-center">
                    <label>Choisir votre marque</label>
                    <select class="form-control" id="marque">

                    
                            <% for (const d in makes) { %>
                                <option value="<%= makes[d].make_id %>" ><%= makes[d].make_display %></option>
                            <% } %>
                           
                    </select>
          

                </div>

            <!-- 2 select avec un id=model -->


        <div class="container d-flex flex-column align-items-center justify-content-center" style="display: none;">
            <label>Choisir votre modèle</label>
            <select  class="form-control" name="select_model" id="model">
                <option></option>

            </select>
        </div>
    </div>

            <!-- Card -->

            <div class="card text-white bg-info col-md-4" style="margin-top: 10px;"id="cardinfo" >
                <div id="voiture-nom"class="card-header">
                   
                  </div>
                <ul class="list-group list-group-flush">
                  <li id="voiture-finition" class="list-group-item text-dark"></li>
                  <li id="voiture-prix" class="list-group-item text-dark"></li>
                  <li id="voiture-energie" class="list-group-item text-dark"></li>
                  <li id="voiture-boiteDeVitesse" class="list-group-item text-dark"></li>
                  <li id="voiture-puissance" class="list-group-item text-dark"></li>
                  <li id="voiture-kg" class="list-group-item text-dark"></li>
                  <li id="voiture-speed" class="list-group-item text-dark"></li>
                  <li id="voiture-kph" class="list-group-item text-danger"></li>



                </ul>
              </div>
  
          
        


   


     

  </div> 
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/Js/script.js"></script>
    
</body>

</html>